<div class="chat-container">
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="sidebar">
      <div class="user-info">
        <img [src]="currentUser?.photoUrl" alt="User Photo" class="user-photo">
        <span class="username">{{ currentUser?.username }}</span>
      </div>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
      <h2>Chats</h2>
      <mat-nav-list>
        <mat-list-item *ngFor="let chat of chats" (click)="selectChat(chat)" [class.selected]="chat === selectedChat">
          {{ chat.chatName }}
        </mat-list-item>
      </mat-nav-list>
      <button mat-raised-button color="primary" class="create-chat-button" (click)="openCreateChatDialog()">Create Chat</button>
    </mat-sidenav>

    <mat-sidenav-content class="chat-content">
      <div class="header">
        <h1>Welcome to Chatter HUB</h1>
      </div>
      <div class="messages">
        <mat-list>
          <mat-list-item *ngFor="let message of messages">
            <strong>{{ message.senderID }}</strong>: {{ message.content }} <span class="timestamp">{{ message.timestamp | date:'shortTime' }}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="message-input">
        <input type="file" (change)="onFileSelected($event)" style="margin-right: 10px;" />
        <button mat-raised-button color="warn" (click)="cancelAttachment()" *ngIf="selectedFile">Cancel</button>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="newMessage" placeholder="Type your message...">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
